<h1 class="lead display-4 text-white mb-4"><em>About Checklist</em></h1>
<p class="lead text-white">
    This is a Node/Express App for keeping track of things you need to get accomplished!
</p>

<p class="lead text-white">
    Version: 1.0.0
</p>