<div class="jumbotron text-center bg-danger text-white">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">
        Add to-do items to your checklist!
        <br>
        <a href="/users/login" class="btn btn-dark btn-lg mt-5 mr-3">Login</a>
        <a href="/users/register" class="btn btn-light text-dark btn-lg mt-5">Register</a>
    </p>
</div>