<div class="jumbotron text-center ">
    <h1 class="display-3">{{title}}</h1>
    <p class="lead">
        Add to-do items to your checklist!
        <br>
        <a href="/users/login" class="btn btn-dark btn-lg mt-2">Get Started</a>
    </p>
</div>